body{
    background-color: #d5bf86;
    font-family: sans-serif;

}

h1{
    text-align: center;
}


main{
    display: flex;
    justify-content: center;
}




/*  OPCIONES PARA ESCOGER HIELITOS*/

#seleccion-hielitos-formulario{
    font-size: 16px;
    width: 550px;
    display: grid;
    place-content: center;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 35px;
    row-gap: 5px;
}

.seleccion{
    display: flex;
    justify-content: center;
}

.seleccion-hielito{
    margin: 10px;
    width: 40px;
}

/* FIN DE OPCIONES PARA ESCOGER HIELITOS*/



/*INPUTS PARA CALCULAR LAS VENTAS*/

form{
    background-color: #f1f0cc;
    border-radius: 7px;
}

fieldset{
    border: 1px solid #000;
    border-radius: 7px;
    margin: 10px;
}

legend{
    text-align: center;
}

input{
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid;
    text-align: center;
    width: 30%;
}


#inputs-contenedor{
    width: 525px;
}

.input-focus:focus{
    outline: unset;
    /*outline: 2px solid #000;*/
    border: unset;
    border: 2px solid #000;
    border-radius: 5px;
}

.boton{
    background-color: #007ea7;
    color: #fff;
    width: 120px;
    height: 35px;
    margin: 10px 0 10px 6px;
    border-radius: 5px;
    border: 2px solid #000;
    font-size: 16px;
}

/*FIN DE INPUTS PARA CALCULAR LAS VENTAS*/






/*ESTILOS DEL RECIBO*/

#recibos-contenedor{
    display: flex;
    justify-content: center;
}

#recibos{
    width: 540px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 10px;
}

.card-title{
    text-align: center;
    margin-left: 0;
    font-size: 20px;
}

.card{
    font-size: 14px;
    border: 2px solid #000;
    border-radius: 15px;
    width: 245px;
    height: 270px;
    background-color: #fff;
    text-align: center;
}

#dinero{
    font-weight: 800;
}

/*FIN ESTILOS DEL RECIBO*/


















